@mixin container-default {
  @apply mb-4 flex h-screen flex-col bg-gray-darkest text-white duration-300 ease-in-out;
}

@mixin icon-default {
  @apply h-5 w-5 text-[#a0a0a0];
}

.SideNavDefault {
  @include container-default();
  @apply w-[205px] z-50 duration-300 ease-in-out;

  .navList {
    @apply h-[100%];
  }

  ul {
    @apply relative flex w-[205px] flex-grow cursor-pointer flex-col px-3 h-[100%];

    svg {
      @include icon-default();
    }

    span {
      @apply ml-4;
    }
  }

  li:global {
    @apply my-2 flex rounded-lg py-2 px-3 align-middle text-sm font-normal hover:bg-nav-hover;
    &.selected {
      @apply bg-nav-selected;
    }
  }

  .branding {
    @apply mb-8 flex cursor-pointer flex-row items-center gap-3 pt-4 pl-5;

    span {
      @apply text-sm;
    }

    svg {
      @apply h-6 w-6;
    }

    &:hover {
      .popupContainer {
        @apply flex z-[60];
      }
    }

    .popupContainer {
      @apply absolute left-[100px] top-2.5 m-0 hidden w-[250px] py-2 text-gray-darkest;

      svg {
        @apply h-4 w-4;
      }

      ul {
        @apply w-[250px] pl-0 pr-0;
      }

      li {
        &:hover {
          @apply cursor-pointer bg-blue-lightest;
        }
      }
    }
  }

  .user {
    .popupContainer {
      @apply hidden;
    }

    &:hover {
      .popupContainer {
        @apply flex;
      }
    }

    .popupContainer {
      @apply absolute left-16 m-0 hidden w-[250px] py-2 text-gray-darkest bottom-4;

      svg {
        @apply h-4 w-4;
      }

      ul {
        @apply w-[250px] pl-0 pr-0;
      }

      li {
        &:hover {
          @apply cursor-pointer bg-blue-lightest;
        }
      }
    }
  }

  .designBtn {
    @apply mb-6 flex justify-center;

    svg {
      @apply -ml-1 mr-1 mt-1;
    }
  }

  .user {
    @apply mt-auto flex flex-row gap-4 pl-5 pt-4 pb-6;

    span {
      @apply self-center;
    }
  }

  .counter {
    @apply ml-auto mt-0.5 flex h-4 w-4 place-items-center justify-center rounded-lg bg-blue-700 px-2.5 text-[11px] font-medium;
  }

  .navlist {
    @apply h-[100%];
  }

  .bottomList {
    @apply mt-auto;
  }
}

.SideNavCollapsed {
  @include container-default();
  @apply z-50 w-[68px] h-full;

  li:global {
    @apply my-2 rounded-lg py-2 px-3 hover:bg-nav-hover;
    &.selected {
      @apply bg-nav-selected;
    }
  }

  .branding {
    @apply relative mb-4 flex cursor-pointer justify-center p-4;
    svg {
      @apply h-6 w-6;
    }

    &:hover {
      .popupContainer {
        @apply flex;
      }
    }

    .popupContainer {
      @apply absolute left-14 m-0 hidden w-[250px] py-2 text-gray-darkest;

      svg {
        @apply h-4 w-4;
      }

      ul {
        @apply w-[250px] pl-0 pr-0;
      }

      li {
        &:hover {
          @apply cursor-pointer bg-blue-lightest;
        }
      }
    }
  }

  .navlist {
    ul {
      @apply relative flex w-[68px] flex-grow cursor-pointer flex-col px-3;

      svg {
        @include icon-default();
      }
    }
  }

  .designBtn {
    @apply mb-[22px] flex justify-center;
  }

  .counter {
    @apply absolute ml-2.5 -mt-8 table h-4 w-4 rounded-lg bg-blue-700 px-1.5 py-0.5 text-[11px];
  }

  .user {
    @apply relative mt-auto flex flex-row gap-4 pl-5 pt-4 pb-6 cursor-pointer;

    span {
      @apply self-center;
    }

    &:hover {
      .popupContainer {
        @apply flex;
      }
    }

    .popupContainer {
      @apply absolute left-16 m-0 hidden w-[250px] py-2 text-gray-darkest bottom-4;

      svg {
        @apply h-4 w-4;
      }

      ul {
        @apply w-[250px] pl-0 pr-0;
      }

      li {
        &:hover {
          @apply cursor-pointer bg-blue-lightest;
        }
      }
    }
  }
}

.branding {
  [class^='Avatar_'] {
    background: none !important;
  }
}
