.Container {
  @apply mx-auto w-full max-w-[1300px] px-[30px];
}

.Main {
  @apply min-h-screen min-w-[1300px] bg-[#F8F8FA] py-8 px-[68px] duration-300 ease-in-out;

  &.--white {
    @apply bg-white;
  }

  &.expanded {
    @apply pl-[205px];
  }
}

.KitchenSink :global {
  [class*='Container'] {
    > h3 {
      @apply mb-6;
    }
    [class*='TitleBar'] {
      position: relative;
      width: calc(100% + 60px);
      left: -30px;
    }
  }
  & :local {
    > section {
      @apply py-20;
    }
  }
}

.Profile :global {
  @apply h-screen w-full bg-[#F8F8FA];
  main {
    @apply min-w-[768px];
    > [class*='Container'] {
    }
  }
}

.Projects {
  @extend .Profile;
  > main {
    @apply pt-0;

    &.expanded {
      [class^='projects_container_'] {
        @apply pl-[140px];
      }
    }
  }
}
